{% extends "layouts/main.html" %}

{% block pageTitle %}
I'm not sure what to do when I leave college – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}{% for item in data.feeling %}{% if not loop.first %}{% if loop.last %} and {% else %}, {% endif
%}{% endif %}{{ item | lower }}{% endfor %}{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-left-0 govuk-!-padding-left-0">

      <!-- HERO SECTION START -->
      <div class="hero-blue govuk-grid-column-full govuk-!-margin-bottom-6 govuk-!-margin-top-0 govuk-!-padding-6">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">
                I'm not sure what to do when I leave college</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-6">
                It's normal to feel confused if you're not sure what to do when you leave college. It's okay for your
                plans to change or for you to change your mind. 
              </p>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-text-align-right">
              <img class="image-hero-landingpage" src="/public/images/what-do-leave-college.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- HERO SECTION END -->

      <!-- FULL ACCORDION START -->
      <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
        <div class="govuk-accordion govuk-!-margin-left-0" data-module="govuk-accordion" id="accordion-default">


          <!-- ACCORDION SECTION START -->

          <!-- ACCORDION SECTION START -->
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Who to speak to and when
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">You'll find it useful to talk to someone you
                  trust. This might be a close friend or someone in your family.</p>
               <p class="govuk-body">Or you might want to talk to someone at college who knows your situation and the
                  options available.</p>

                <p class="govuk-body govuk-!-margin-bottom-0"><strong>Careers adviser</strong></p>
              <p class="govuk-body">Your college will have a careers adviser you can speak to. They can help you look at
                your options for next year and what might suit you. </p>

              <p class="govuk-body govuk-!-margin-bottom-0"><strong>Student support services</strong></p>
              <p class="govuk-body">Most colleges have a student support team who can listen to how you're feeling. This
                might include pastoral officers and wellbeing or mental health support staff. They might be called
                something different at your college. If you're not sure you can ask a teacher.</p>


              <p class="govuk-body govuk-!-margin-bottom-0">
                <strong>Any teacher or member of staff</strong>
              </p>
              <p class="govuk-body">
                It's okay to speak to any teacher or member of staff you feel comfortable with. For example, you might
                prefer to speak to your personal tutor if you know them well.
              </p>

              <p class="govuk-body govuk-!-margin-bottom-0">
                <strong>Learning support or SEND department </strong>
              </p>
              <p class="govuk-body">

                You might feel that you're finding it difficult to think about your next step because of a learning
                difficulty, neurodivergence or disability. You can speak to a staff member who works in the learning
                support or special educational needs and disabilities (SEND) department. If you're not sure who this
                might be, you can ask your tutor for advice.
              </p>
            </div>
          </div>
          <!-- ACCORDION SECTION END -->

          <!-- ACCORDION SECTION START -->
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Think about why you're not sure what to do next
                </span>
              </h2>

            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p class="govuk-body">It's hard to decide what to do after college. It can feel like a massive decision.
                You might find it useful to think of it as a choice for now. It's not a permanent decision and you can
                change your mind if it does not feel right.
              </p>

              <p class="govuk-body">It can help to think about what's going on in your life that's making it harder to
                decide.</p>

              <p class="govuk-body">For example:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  you had a plan, but you've changed your mind
                </li>
                <li>
                  you feel pressured to choose a specific course or go to uni
                </li>
                <li>
                  you're not sure you're going to get the grades you need
                </li>
                <li>
                  you're resitting GCSE maths or English and not sure how it might affect your next step
                </li>
              </ul>
            </div>
          </div>
          <!-- ACCORDION SECTION END -->

          <!-- ACCORDION SECTION START -->
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Understand what your options are
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
              <p class="govuk-body">It can be quite daunting to think about what to do next where there are so many
                choices.
              </p>
              <p class="govuk-body">The <a
                  href="https://nationalcareers.service.gov.uk/careers-advice/career-choices-at-18"
                  class="govuk-link">National Careers Service has advice about your options when you leave college at
                  18</a>. Try to look at one option at a time and write down anything you're not sure of. You can then
                take your questions to a teacher or careers adviser at college.
              </p>
              <p class="govuk-body">Or if you can, speak to a careers adviser at college when looking at the options.
                They can listen to how you feel, understand your situation and go through the options that best suit
                you.</p>
            </div>
          </div>

          <!-- ACCORDION SECTION END -->

          <!-- ACCORDION SECTION START -->
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  What you can ask
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">It can be hard to know how to take the first step of asking for help. </p>
              <p class="govuk-body">Here are a few prompts of what to say to a tutor or teacher if you're struggling to
                decide what to do after college: </p>
              <p class="govuk-body blue-quote">“Can I talk to you about my plan for after college?”
              </p>
              <p class="govuk-body blue-quote">“I don't want to go to uni. What other options are there I can do?” </p>
              <p class="govuk-body blue-quote">“What are my options if I've not passed GCSE maths?”</p>
              <p class="govuk-body blue-quote">“Are there any organisations that can help me after I leave college?”</p>
            </div>
          </div>
          <!-- ACCORDION SECTION END -->

        </div>
      </div>
      <!-- FULL ACCORDION END -->

      <!-- MENTAL HEALTH SUPPORT START -->
            {% include "../../../assets/html-templates/ViewHelpLinesFooter.html" %}
      <!-- MENTAL HEALTH SUPPORT END -->

    </div>
  </div>
</div>



{% endblock %}