{% extends "layouts/main.html" %}

{% block pageTitle %}
I want to pass my GCSE English resit – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}{% for item in data.feeling %}{% if not loop.first %}{% if loop.last %} and {% else %}, {% endif
%}{% endif %}{{ item | lower }}{% endfor %}{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}


{% block pageScripts %}
<script type="text/javascript">
  var $element = document.querySelector('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{% endblock %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-left-0 govuk-!-padding-left-0">

      <!-- HERO SECTION START -->
      <div class="govuk-grid-column-full govuk-!-padding-6 govuk-!-margin-bottom-6 govuk-!-margin-top-0"
        style="background-color:#f3f7fb;">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">
                I want to pass my GCSE English resit</h1>
              <p class="govuk-body-l govuk-!-margin-bottom-6">
                It can be tough having to keep resitting your English GCSE. You’re not the only one. Over
                <strong>175,000 young
                  people in England </strong>sat their English GCSE again in 2025.
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-0">
                <a href="#" class="govuk-link govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">Text or email this
                  page</a>
              </p>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-text-align-right">
              <img class="image-hero" src="/public/images/GCSE-english-resit-landing page.png"
                alt="Student inside library picking up a book for revision to prepare for GCSE English resit">
            </div>
          </div>
        </div>
      </div>
      <!-- HERO SECTION END -->

      <!-- ACCORDION START -->
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-accordion govuk-!-margin-left-6" data-module="govuk-accordion" id="accordion-default">





          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Understand what you’re struggling with
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p class="govuk-body">Have a think about what part of the resit is stressing you out. You might
                find it easier to ask for help about something specific. </p>

              <p class="govuk-body">Think about:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  whether you're missing out on passing by only a few marks </li>
                <li>if your nerves are taking over on exam day </li>
                <li>if you're finding one of the papers more difficult </li>
              </ul>
              <p class="govuk-body">You can also review your last exam paper with your English teacher. They can
                help you see what your strengths are and where to improve. </p>
            </div>
          </div>




          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Who to speak to and when
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body"><strong>Your GCSE English teacher</strong><br>
                You should let your English teacher know as soon as possible that you want help. They can create a plan
                with you about what to focus on for your resit. <br><br>

                <strong>Any teacher or member of staff</strong><br>
                If you prefer, it’s okay to speak to any teacher or member of staff you feel comfortable with. They can
                listen and help you to create a plan. <br><br>

                <strong>Student support services</strong><br>

                Your college or sixth form will likely have a pastoral officer or careers adviser you can speak to for
                help with your resit. <br><br>

                <strong>English tutor </strong><br>

                You could get tutoring from someone that’s familiar with your exam paper. Your teacher might know older
                students who have recently passed who can help. Or, if you’re able to pay, they might be able to
                recommend a local or online tutor.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Alternative to GCSE English
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p class="govuk-body">If you’re struggling to pass after several resits, you might be able to do a
                <strong>Functional Skills level 2 </strong>qualification instead. This is <strong>equivalent to a GCSE
                  grade 4 pass</strong> and is widely
                accepted as an alternative to a GCSE.
              </p>

              <p class="govuk-body">Your English teacher or student support services can help see if you’re eligible to
                do a functional skills course. You can <a
                  href="https://www.prospects.ac.uk/further-education/functional-skills-qualifications/"
                  class="govuk-link">find out more functional skills qualifications from Prospects</a>. </p>


              <p class="govuk-body">You might plan to start another course after college or sixth form. If so, a careers
                adviser can help you find out if your course accepts functional skills qualifications.</p>
            </div>
          </div>




          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Understand your options after college or sixth form
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
              <p class="govuk-body">Your English teacher or student support services can help you understand what your
                options are if you do or do not pass English.

              </p>
              <p class="govuk-body">It’s normal to be worried and want a plan. There are options if you need to do your
                English resit after college. GCSE English courses are often available in libraries, adult education
                centres or other local venues. </p>
              <p class="govuk-body">You might want to speak to a careers adviser so you can chat about what you want to
                do. They can help you create a plan to get there. </p>
              <p class="govuk-body">You can also see advice if <a href="#" class="govuk-link">your plan has changed and
                  you’re unsure what to do after college or sixth form</a>. </p>


            </div>
          </div>


          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  What you can ask
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">
              <p class="govuk-body">Here are a few prompts of what to say to get help with your English resit: </p>
              <p class="govuk-body blue-quote"> “Are there any resources I can use that are different from what I’ve
                already tried?”
              </p>
              <p class="govuk-body blue-quote">“Can I get any further help or tutoring to help me pass?”</p>
              <p class="govuk-body blue-quote">“Can you show me why my answer to this question did not work?”</p>
            </div>
          </div>

        </div>
      </div>

      <!-- ACCORDION END -->



      <!-- MENTAL HEALTH SUPPORT START -->
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-inset-text govuk-!-margin-left-5">
          <h2 class="govuk-heading-m">Talk to someone about your mental health</h3>
            <p class="govuk-body">If you need help urgently, you do not have to deal with it by yourself. </p>
            <p class="govuk-body">There are people
              who can help you.</p>
            <p class="govuk-body">
              <a class="govuk-link" href="../mental-health-page.html">View helplines</a>
            </p>
        </div>

        <p class="govuk-body-s govuk-!-margin-top-9 govuk-!-margin-left-5">
          <a href="#" class="govuk-link govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">Text or email this page</a>
        </p>

      </div>
      <!-- MENTAL HEALTH SUPPORT END -->





    </div>
  </div>

  <!-- FEEDBACK GREY START -->
  <div class="govuk-width-container feedback-container grey">

    <div class="feedback-left grey">
      <span class="govuk-body" style="font-size: 19px; line-height: 2;"><strong>Is this page
          useful?</strong></span>
      <button class="govuk-button feedback grey" style="color: #000000;">Yes</button>
      <button class="govuk-button feedback grey" style="color: #000000;">No</button>
    </div>

    <div class="feedback-right grey">
      <a href="#" class="govuk-button feedback grey" style="font-size: 16px; color: #000000; ">
        Help us design this page
      </a>
    </div>
  </div>
  <!-- FEEDBACK GREY END -->

</div>
</div>
</div>

{% endblock %}