{% extends "layouts/main.html" %}

{% block pageTitle %}
I’m trying to get my first job – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}{% for item in data.feeling %}{% if not loop.first %}{% if loop.last %} and {% else %}, {% endif
%}{% endif %}{{ item | lower }}{% endfor %}{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-left-0 govuk-!-padding-left-0">

      <!-- HERO SECTION START -->
      <div class="hero-blue govuk-grid-column-full govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-!-padding-6">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">
                I’m trying to get my first job </h1>
              <p class="govuk-body-l govuk-!-margin-bottom-6">
                  Whether you’re looking for a Saturday job or a full time role, get tips on where to start and who can help.
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-0">
                <a href="#" class="govuk-link govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">Text or email this
                  page</a>
              </p>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-text-align-right">
              <img class="image-hero-landingpage" src="/public/images/trying-get-first-job.png"
                alt="Student inside library picking up a book for revision to prepare for GCSE English resit">
            </div>
          </div>
        </div>
      </div>
      <!-- HERO SECTION END -->

      <!-- FULL ACCORDION START -->
      <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
        <div class="govuk-accordion govuk-!-margin-left-0" data-module="govuk-accordion" id="accordion-default">

          <!-- ACCORDION SECTION START -->
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                   Who can help and when
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body"></p>
            </div>
          </div>
          <!-- ACCORDION SECTION END -->


          <!-- ACCORDION SECTION START -->
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                   What you can ask
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p class="govuk-body"></p>
            </div>
          </div>
          <!-- ACCORDION SECTION END -->

        </div>
      </div>
      <!-- FULL ACCORDION END -->

      <!-- MENTAL HEALTH SUPPORT START -->
      <div class="govuk-width-container govuk-!-margin-top-9 govuk-!-margin-left-0">

        <div class="govuk-inset-text govuk-!-margin-left-0">
          <h2 class="govuk-heading-m">Talk to someone about your mental health</h3>
            <p class="govuk-body">If you need help urgently, you do not have to deal with it by yourself. </p>
            <p class="govuk-body">There are people who can help you.</p>
            <p class="govuk-body">
              <a class="govuk-link" href="https://www.mind.org.uk/for-young-people/">Get mental health support from
                Mind</a>
            </p>
        </div>

        <!-- <p class="govuk-body-s govuk-!-margin-top-9 govuk-!-margin-left-0">
          <a href="#" class="govuk-link govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">View a printable version of
            the whole guide</a>
        </p> -->

      </div>
      <!-- MENTAL HEALTH SUPPORT END -->

    </div>
  </div>
  
  
<!-- FEEDBACK GREY START
<div class="feedback-wrapper">

  <div class="govuk-width-container feedback-container grey govuk-!-margin-top-8 govuk-!-margin-left-0">

    <div id="feedback-question" class="feedback-bar">

      <div class="feedback-bar__left">

        <span class="govuk-body feedback-title">
          <h2 class="govuk-heading-m govuk-!-padding-top-3">Is this page useful?</h2>
        </span>

        <button
          type="button"
          class="govuk-button govuk-button--secondary feedback-btn"
          onclick="showFeedback()">
          Yes
        </button>

        <button
          type="button"
          class="govuk-button govuk-button--secondary feedback-btn"
          onclick="showFeedback()">
          No
        </button>

      </div>

      <div class="feedback-bar__right">

        <button
          type="button"
          class="govuk-button govuk-button--secondary feedback-btn"
          onclick="showFeedback()">
          Give feedback about this page
        </button>

      </div>

    </div>

    <div id="feedback-panel" class="feedback-panel">

      <h2 class="govuk-heading-l">
        Give feedback about this page
      </h2>

      <textarea
        id="feedback-text"
        class="govuk-textarea"
        rows="6"
        maxlength="200"></textarea>

      <p class="govuk-body legend">
        You can enter up to 200 characters
      </p>

      <button
        type="button"
        class="govuk-button"
        onclick="submitFeedback()">
        Submit
      </button>

      <button
        type="button"
        class="govuk-button govuk-button--secondary"
        onclick="hideFeedback()">
        Cancel
      </button>

    </div>

    <div
      id="feedback-success"
      class="govuk-notification-banner"
      style="display:none">

      <div class="govuk-notification-banner__content">
        Thank you for your feedback.
      </div>

    </div>

  </div>

</div>
FEEDBACK GREY END -->

</div>
</div>
</div>

<!--

{% block pageScripts %}

<script>
function showFeedback() {
  document.getElementById('feedback-question').classList.add('hidden');
  document.getElementById('feedback-panel').classList.add('active');
}

function hideFeedback() {
  document.getElementById('feedback-question').classList.remove('hidden');
  document.getElementById('feedback-panel').classList.remove('active');
}

function submitFeedback() {
  document.getElementById('feedback-panel').classList.remove('active');
  document.getElementById('feedback-success').style.display = 'block';
}

</script>
{% endblock %} -->



<!-- DFE FEEDBACK COMPONENT START -->
<section class="dfe-feedback">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dfe-feedback-banner">
          <div class="dfe-feedback-banner--content">
            <div class="dfe-feedback-banner--flex">
              <h2 class="govuk-heading-s">Tell us what you think of this page</h2>
              <button type="button" class="govuk-button" data-module="govuk-button" id="problemButton"
                data-govuk-button-init="">
                Give feedback
              </button>
            </div>

            <div class="dfe-feedback-banner--content-message" id="thanksMessage" role="status" hidden="">
              Thank you for your feedback
            </div>

            <div class="dfe-feedback-panel" id="feedback-panel" style="display: none;" aria-hidden="true">
              <form id="feedback-form">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="400"
                  data-govuk-character-count-init="">
                  <div class="govuk-form-group govuk-!-margin-top-5">
                    <h3 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--m" for="feedback_form_input">
                        What do you want to tell us?
                      </label>
                    </h3>
                    <textarea class="govuk-textarea govuk-js-character-count" id="feedback_form_input"
                      name="feedback_form_input" rows="5" aria-describedby="feedback_form_input"></textarea>
                    <div id="feedback_form_input-info"
                      class="govuk-hint govuk-character-count__message govuk-visually-hidden">
                      You can enter up to 400 characters
                    </div>
                    <div class="govuk-hint govuk-character-count__message govuk-character-count__status"
                      aria-hidden="true">
                      You have 400 characters remaining
                    </div>
                    <div class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">
                      You have 400 characters remaining
                    </div>
                  </div>
                </div>

                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button" type="submit" data-govuk-button-init="">
                    Submit
                  </button>
                  <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button"
                    id="cancelButton" data-govuk-button-init="">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- DFE FEEDBACK COMPONENT END -->
{% endblock %}
