{% extends "layouts/main.html" %}

{% block pageTitle %}
What you can do next – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{# ---------- NORMALISE DATA ---------- #}
{% if data.SelectedRouteIds %}
{% if data.SelectedRouteIds[0] %}
{% set routes = data.SelectedRouteIds %}
{% else %}
{% set routes = [data.SelectedRouteIds] %}
{% endif %}
{% else %}
{% set routes = [] %}
{% endif %}


{# ---------- FLAGS ---------- #}
{% set notsurecollegesixthformSelected = routes.indexOf("I’m not sure what to do after college or sixth form") > -1 %}
{% set switchcourseSelected = routes.indexOf("I want to switch to a different course") > -1 %}
{% set coursegoalSelected = routes.indexOf("I want to know how my course can help me get to my goal") > -1 %}
{% set strugglingpasscourseSelected = routes.indexOf("I’m struggling to pass my course") > -1 %}
{% set mathsSelected = routes.indexOf("Maths") > -1 %}
{% set englishSelected = routes.indexOf("English") > -1 %}
{% set hearbackapplicationsSelected = routes.indexOf("I do not hear back from applications") > -1 %}
{% set nothearSelected = routes.indexOf("I never get feedback so do not know what to improve") > -1 %}
{% set firstjobSelected = routes.indexOf("I’m trying to get my first job") > -1 %}
{% set volunteeringSelected = routes.indexOf("I’ve done volunteering but cannot seem to get a paid job") > -1 %}
{% set apprenticeshipSelected = routes.indexOf("I cannot find an apprenticeship where I live") > -1 %}
{% set createcvSelected = routes.indexOf("Create a CV or make my CV better") > -1 %}
{% set workexperienceSelected = routes.indexOf("I need to get some work experience") > -1 %}

{# ---------- BUILD CARDS ---------- #}
{% set cards = [] %}


<!-- NOT SURE WHAT TO DO AFTER COLLEGE OR SIXTH FORM - I’m not sure what to do after college or sixth form - START-->
{% if notsurecollegesixthformSelected %}
{% set cards = cards.concat([{
title: "I’m not sure what to do after college or sixth form",
href: "./guides/not-sure-what-to-do-after.html",
img: "/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- NOT SURE WHAT TO DO AFTER COLLEGE OR SIXTH FORM - I’m not sure what to do after college or sixth form - END-->


<!-- WANT TO SWITCH COLLEGE COURSE - I want to switch to a different college course - START-->
{% if switchcourseSelected %}
{% set cards = cards.concat([{ title: "I want to switch to a different college course", href:
"./guides/want-switch-collegecourse.html", img:
"/public/images/switch-course.png",
text: "Find out who to speak to about changing course, and what you can do if it’s too late to switch."
}]) %}
{% endif %}
<!-- WANT TO SWITCH COLLEGE COURSE - I want to switch to a different college course - END-->


<!-- WANT TO KNOW MY COURSE CAN HELP GET GOAL - I want to know how my course can help me get to my goal - START-->
{% if coursegoalSelected %}
{% set cards = cards.concat([{ title: "I want to know how my course can help me get to my goal", href:
"./guides/want-know-how-course-get-goal.html", img:
"/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- WANT TO KNOW MY COURSE CAN HELP GET GOAL - I want to know how my course can help me get to my goal - END-->


<!-- STRUGGLING TO PASS COURSE - I’m struggling to pass my course - START-->
{% if strugglingpasscourseSelected %}
{% set cards = cards.concat([{ title: "I’m struggling to pass my course", href: "./guides/struggling-pass-course.html",
img:
"/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- STRUGGLING TO PASS COURSE - I’m struggling to pass my course - END-->



<!-- MATHS AND ENGLISH START-->
{% if mathsSelected %}
{% set cards = cards.concat([{ title: "I want to pass my GCSE maths and English resit", href:
"./guides/GCSE-maths-and-English.html", img: "/public/images/GCSE-maths-English-resit.jpg",
text: "See who can help you with your resit, what you can ask and learn about alternatives. "
}]) %}
{% endif %}

{% if mathsSelected and englishSelected %}

{% set cards = cards.concat([
{
title: "I want to pass my GCSE maths resit",
href: "./guides/GCSE-maths-resit.html",
img: "/public/images/GCSE-maths-resit.png",
text: "See who can help you with your resits, what you can ask and learn about alternatives."
},
{
title: "I want to pass my GCSE English resit",
href: "./guides/GCSE-english-resit.html",
img: "/public/images/pass-GCSE.png",
text: "See who can help you with your resit, what you can ask and learn about alternatives."
}
]) %}

{% else %}

{% if mathsSelected %}
{% set cards = cards.concat([{
title: "I want to pass my GCSE maths resit",
href: "./guides/GCSE-maths-resit.html",
img: "/public/images/GCSE-maths-resit.png",
text: "See who can help you with your resits, what you can ask and learn about alternatives."
}]) %}
{% endif %}

{% if englishSelected %}
{% set cards = cards.concat([{
title: "I want to pass my GCSE English resit",
href: "./guides/GCSE-english-resit.html",
img: "/public/images/pass-GCSE.png",
text: "See who can help you with your resit, what you can ask and learn about alternatives. "
}]) %}
{% endif %}

{% endif %}
<!-- MATHS AND ENGLISH END-->


<!-- DO NOT HEAR APPLICATIONS - I do not hear back from applications - START-->
{% if hearbackapplicationsSelected %}
{% set cards = cards.concat([{ title: "I do not hear back from applications", href:
"./guides/do-not-hear-back-applications.html", img:
"/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- DO NOT HEAR APPLICATIONS - I do not hear back from applications - END-->


<!-- FEEDBACK AND IMPROVE - I never get feedback so do not know what to improve - START-->
{% if nothearSelected %}
{% set cards = cards.concat([{ title: "I never get feedback so do not know what to improve", href:
"./guides/never-get-feedback.html", img:
"/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- FEEDBACK AND IMPROVE - I never get feedback so do not know what to improve - END-->


<!-- START FIRST JOB - I’m trying to get my first job - START-->
{% if firstjobSelected %}
{% set cards = cards.concat([{ title: "I’m trying to get my first job", href: "./guides/trying-get-first-job.html", img:
"/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- START FIRST JOB - I’m trying to get my first job - END-->


<!-- VOLUNTEERING - I’ve done volunteering but cannot seem to get a paid job - START-->
{% if volunteeringSelected %}
{% set cards = cards.concat([{ title: "I’ve done volunteering but cannot seem to get a paid job", href:
"./guides/done-volunteering.html", img:
"/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- VOLUNTEERING - I’ve done volunteering but cannot seem to get a paid job - END-->


<!-- APPRENTICESHIP - I cannot find an apprenticeship where I live - START-->
{% if apprenticeshipSelected %}
{% set cards = cards.concat([{ title: "I cannot find an apprenticeship where I live", href:
"./guides/cannot-find-apprenticeship.html", img:
"/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- APPRENTICESHIP - I cannot find an apprenticeship where I live - END-->


<!-- CV - Create a CV or make my CV better - START-->
{% if createcvSelected %}
{% set cards = cards.concat([{ title: "Create a CV or make my CV better", href: "./guides/create-CV.html", img:
"/public/images/create-better-CV.png",
text: "Find out who can help you with your CV and get tips if you’re losing motivation. "
}]) %}
{% endif %}
<!-- CV - Create a CV or make my CV better - END -->


<!-- WORK EXPERIENCE - I need to get some work experience - START-->
{% if workexperienceSelected %}
{% set cards = cards.concat([{ title: "I need to get some work experience", href:
"./guides/need-to-get-work-experience.html", img:
"/public/images/not-done-yet.png",
text: "Find out how tolorem ipsum lorem ipusm lorem lrem ipsum
lorem ipusm lorem ipsum"
}]) %}
{% endif %}
<!-- WORK EXPERIENCE - I need to get some work experience - END -->

<div class="govuk-width-container">

  <!-- HERO -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
 
      <div class="hero-blue govuk-grid-column-full govuk-!-padding-6 govuk-!-margin-bottom-6">
   
          <div class="govuk-grid-column-full govuk-!-padding-0 govuk-!-margin-bottom-6">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">What you can do next</h1>
            <p class="govuk-body-l">
              Thanks for sharing where you’re at. Take a look through who can help, what you might want to do next and
              get suggestions of what to say.
            </p>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <img class="image-hero-landingpage" src="/public/images/image-guide-landing-page.png" alt="What you can do next page has a female and male student working on a computer" style="max-width:100%;">
          </div>
        </div>
        </div>
        </div>
  



      <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            How to use these guides
          </h2>
          <p>If you’re speaking to someone in person, you might find it useful to take the guide with you so you can
            refer to it.</p>
          <p>You can screenshot, text or email each guide to yourself.</p>
        </div>
      </div>

      <!-- CARDS -->
      <div class="dfe-grid-container">
        {% for card in cards %}
        <div class="dfe-card">
          <img src="{{ card.img }}" alt="">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a href="{{ card.href }}" class="govuk-link govuk-link--no-visited-state">
                {{ card.title }}
              </a>
            </h3>

            <p class="govuk-body">
              {{ card.text or "More information about this option." }}
            </p>


          </div>
        </div>
        {% endfor %}
      </div>




   
      <!-- MENTAL HEALTH SUPPORT START -->
      <div class="govuk-width-container govuk-!-margin-top-9 govuk-!-margin-left-0">

        <div class="govuk-inset-text govuk-!-margin-left-0">
          <h2 class="govuk-heading-m">Talk to someone about your mental health</h3>
            <p class="govuk-body">If you need help urgently, you do not have to deal with it by yourself. </p>
            <p class="govuk-body">There are people
              who can help you.</p>
            <p class="govuk-body">
              <a class="govuk-link" href="../mental-health-page.html">View helplines</a>
            </p>
        </div>

        <p class="govuk-body-s govuk-!-margin-top-9 govuk-!-margin-left-0">
          <a href="#" class="govuk-link govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">Text or email this page</a>
        </p>

      </div>
      <!-- MENTAL HEALTH SUPPORT END -->
    </div>


  </div>
</div>


<!-- FEEDBACK GREY START -->
<div class="feedback-wrapper">

  <div class="govuk-width-container feedback-container grey govuk-!-margin-top-8 govuk-!-margin-left-0">

    <!-- CLOSED STATE -->
    <div id="feedback-question" class="feedback-bar">

      <div class="feedback-bar__left">

        <span class="govuk-body feedback-title">
          <h2 class="govuk-heading-m govuk-!-padding-top-3">Is this page useful?</h2>
        </span>

        <button
          type="button"
          class="govuk-button govuk-button--secondary feedback-btn"
          onclick="showFeedback()">
          Yes
        </button>

        <button
          type="button"
          class="govuk-button govuk-button--secondary feedback-btn"
          onclick="showFeedback()">
          No
        </button>

      </div>

      <div class="feedback-bar__right">

        <button
          type="button"
          class="govuk-button govuk-button--secondary feedback-btn"
          onclick="showFeedback()">
          Give feedback about this page
        </button>

      </div>

    </div>

    <!-- EXPANDED STATE -->
    <div id="feedback-panel" class="feedback-panel">

      <h2 class="govuk-heading-l">
        Give feedback about this page
      </h2>

      <textarea
        id="feedback-text"
        class="govuk-textarea"
        rows="6"
        maxlength="200"></textarea>

      <p class="govuk-body legend">
        You can enter up to 200 characters
      </p>

      <button
        type="button"
        class="govuk-button"
        onclick="submitFeedback()">
        Submit
      </button>

      <button
        type="button"
        class="govuk-button govuk-button--secondary"
        onclick="hideFeedback()">
        Cancel
      </button>

    </div>

    <!-- SUCCESS MESSAGE -->
    <div
      id="feedback-success"
      class="govuk-notification-banner"
      style="display:none">

      <div class="govuk-notification-banner__content">
        Thank you for your feedback.
      </div>

    </div>

  </div>

</div>
<!-- FEEDBACK GREY END -->

</div>
</div>
</div>

{% block pageScripts %}

<script>
function showFeedback() {
  document.getElementById('feedback-question').classList.add('hidden');
  document.getElementById('feedback-panel').classList.add('active');
}

function hideFeedback() {
  document.getElementById('feedback-question').classList.remove('hidden');
  document.getElementById('feedback-panel').classList.remove('active');
}

function submitFeedback() {
  document.getElementById('feedback-panel').classList.remove('active');
  document.getElementById('feedback-success').style.display = 'block';
}

</script>
{% endblock %}
{% endblock %}
















 
