{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-l">Check your answers</h1>
      <p class="govuk-body">
        We want to make sure we've heard what you've said so we can give you the best information we can to help.
      </p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- Name -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
            {{ data.firstName if data.firstName else 'Not provided' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/round4-mvp/whats-your-first-name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <!-- Feeling -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How you're finding your current situation</dt>
          <dd class="govuk-summary-list__value">
            {% if data.feeling is string %}
              {{ data.feeling }}
            {% elif data.feeling %}
              {{ data.feeling | join(', ') }}
            {% else %}
              Not provided
            {% endif %}
            {% if data.feelingMoreDetail %}
              <br><br>{{ data.feelingMoreDetail }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/round4-mvp/current-situation">
              Change<span class="govuk-visually-hidden"> situation</span>
            </a>
          </dd>
        </div>

        <!-- What help -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What do you need help with?</dt>
          <dd class="govuk-summary-list__value">
            {% if data.route is string %}
              {{ data.route }}
            {% elif data.route %}
              {{ data.route | join(', ') }}
            {% else %}
              Not provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/round4-mvp/what-help">
              Change<span class="govuk-visually-hidden"> help needs</span>
            </a>
          </dd>
        </div>

        <!-- What are you finding difficult -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What are you finding difficult?</dt>
          <dd class="govuk-summary-list__value">
            {% if data.SelectedRouteIds is string %}
              {{ data.SelectedRouteIds }}
            {% elif data.SelectedRouteIds %}
              {{ data.SelectedRouteIds | join(', ') }}
            {% else %}
              Not provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/round4-mvp/what-help-dynamic1">
              Change<span class="govuk-visually-hidden"> difficulties</span>
            </a>
          </dd>
        </div>

        <!-- Education -->
        {% if data.educationStatus %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Where you're at with education</dt>
          <dd class="govuk-summary-list__value">
            {{ data.educationStatus }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/round4-mvp/where-are-you-at-with-education">
              Change<span class="govuk-visually-hidden"> education</span>
            </a>
          </dd>
        </div>
        {% endif %}

      </dl>

      <form action="./What-you-can-do-next" method="get">
        <div class="govuk-button-group">
          {{ govukButton({ text: "Continue" }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}