{% extends "layouts/main.html" %}

{% block pageTitle %}
How are you finding your current situation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<!-- MAIN TWO PAGE CONTAINERS START -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- INTRO TEXT START -->
    <h1 class="govuk-heading-l govuk-!-margin-top-0">
      {% if data.firstName %}Hi, {{ data.firstName }}. How are you finding your current situation?{% else %}How are you
      finding your current situation?{% endif %}
    </h1>
    <p class="govuk-body">Think about how you’re finding things like college, sixth form or applying for jobs. This can
      be positive,
      negative or both. </p>
    <p class="govuk-body">It’s okay to be honest - we just want to understand a bit more about you.</p>
    <!-- INTRO TEXT END -->

    <!-- FORM START -->
    <form class="form" action="/round4-mvp/what-help" method="get">

      <!-- FORM CONTENT DIV START -->
      <div class="govuk-form-group">

        <!-- FIELDSET START -->
        <fieldset class="govuk-fieldset" aria-describedby="feelings-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Choose any feelings that reflect how you’re doing.
            </h2>
          </legend>
          <div id="feelings-hint" class="govuk-hint">
            Select all that apply
          </div>

          <!-- CHECKBOXES START -->
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling" name="feeling" type="checkbox" value="Anxious">
              <label class="govuk-label govuk-checkboxes__label" for="feeling">Anxious or stressed</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-2" name="feeling" type="checkbox" value="Confused">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-2">Confused or stuck</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-3" name="feeling" type="checkbox" value="Depressed">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-3">Exhausted</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-4" name="feeling" type="checkbox" value="Excited">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-4">Sad</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-5" name="feeling" type="checkbox" value="Exhausted">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-5">Losing motivation</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-6" name="feeling" type="checkbox"
                value="Hopeful, but unsure">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-6">Not confident</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-7" name="feeling" type="checkbox"
                value="Losing motivation">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-7">Okay</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-8" name="feeling" type="checkbox" value="Okay">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-8">Hopeful</label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-9" name="feeling" type="checkbox" value="Stressed">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-9">Excited</label>
            </div>

            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feeling-10" name="feeling" type="checkbox"
                value="I do not want to say how I’m feeling today" data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="feeling-10">
                I do not want to say how I’m feeling today
              </label>
            </div>

          </div>
          <!-- CHECKBOXES END -->

        </fieldset>
        <!-- FIELDSET END -->

      </div>
      <!-- FORM CONTENT DIV END -->

      <!-- DETAILS START -->
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why we’re asking this question
          </span>
        </summary>
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-details__text">
            <p class="govuk-body">We're asking this so you can pause to reflect on how you’re doing.</p>
            <p class="govuk-body">This information does not get collected or reported to anyone.</p>
          </div>
        </div>
      </details>
      <!-- DETAILS END -->

      <!-- CONTINUE BUTTON START -->
      <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0 govuk-!-margin-top-5">
        <div class="govuk-button-group govuk-!-margin-bottom-7">
          {{ govukButton({
          text: "Continue"
          }) }}
        </div>
      </div>
      <!-- CONTINUE BUTTON END -->

    </form>
    <!-- FORM END -->

  </div>
</div>
<!-- MAIN TWO PAGE CONTAINERS END -->
{% endblock %}