{% extends "layouts/main.html" %}

{% block pageTitle %}
Where are you at with education – {{ serviceName }}
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{# ---------- NORMALISE DATA ---------- #}
{% if data.SelectedRouteIds %}
  {% if data.SelectedRouteIds[0] %}
    {% set selectedRoutes = data.SelectedRouteIds %}
  {% else %}
    {% set selectedRoutes = [data.SelectedRouteIds] %}
  {% endif %}
{% else %}
  {% set selectedRoutes = [] %}
{% endif %}

{# ---------- CHECK FOR JOB SEEKING ROUTES ---------- #}
{% set jobsCvSelected =
  (selectedRoutes.indexOf("I do not hear back from applications") > -1)
  or (selectedRoutes.indexOf("I never get feedback so do not know what to improve") > -1)
  or (selectedRoutes.indexOf("I’m trying to get my first job") > -1)
  or (selectedRoutes.indexOf("I’ve done volunteering but cannot seem to get a paid job") > -1)
%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorMessage %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>

        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              #college-status
                Select where you are at with education
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}


        <form class="form" action="./check-your-answers.html" method="get">

      <div class="govuk-form-group {% if errorMessage %}govuk-form-group--error{% endif %}">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Where are you at with education?
            </h1>
          </legend>

          <p class="govuk-body govuk-!-margin-bottom-6">
            You might have already started or be about to start.
          </p>

          <div id="contact-hint" class="govuk-hint">
            Select one option
          </div>

          {% if errorMessage %}
          <p id="educationStatus-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            Select where you are at with education
          </p>
          {% endif %}

          <div class="govuk-radios" data-module="govuk-radios">

            {% if jobsCvSelected %}

            {# REDUCED LIST #}

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="sixth-form-attached"
                     name="educationStatus"
                     type="radio"
                     value="Sixth form (attached to a secondary school)"
                     {% if data.educationStatus == "Sixth form (attached to a secondary school)" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="sixth-form-attached">
                Sixth form (attached to a secondary school)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="not-education"
                     name="educationStatus"
                     type="radio"
                     value="I’m not in education"
                     {% if data.educationStatus == "I’m not in education" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="not-education">
                I’m not in education
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="college-status"
                     name="educationStatus"
                     type="radio"
                     value="College"
                     {% if data.educationStatus == "College" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="college-status">
                College
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="sixth-form-college"
                     name="educationStatus"
                     type="radio"
                     value="Sixth form college"
                     {% if data.educationStatus == "Sixth form college" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="sixth-form-college">
                Sixth form college
              </label>
            </div>

            {% else %}

            {# FULL LIST #}

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="college-status"
                     name="educationStatus"
                     type="radio"
                     value="College"
                     {% if data.educationStatus == "College" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="college-status">
                College
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="sixth-form-college"
                     name="educationStatus"
                     type="radio"
                     value="Sixth form college"
                     {% if data.educationStatus == "Sixth form college" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="sixth-form-college">
                Sixth form college
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="sixth-form-attached"
                     name="educationStatus"
                     type="radio"
                     value="Sixth form (attached to a secondary school)"
                     {% if data.educationStatus == "Sixth form (attached to a secondary school)" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="sixth-form-attached">
                Sixth form (attached to a secondary school)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="apprenticeship"
                     name="educationStatus"
                     type="radio"
                     value="Apprenticeship"
                     {% if data.educationStatus == "Apprenticeship" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="apprenticeship">
                Apprenticeship
              </label>
            </div>

            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="not-education"
                     name="educationStatus"
                     type="radio"
                     value="I’m not in education"
                     {% if data.educationStatus == "I’m not in education" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="not-education">
                I’m not in education
              </label>
            </div>

            {% endif %}

          </div>

        </fieldset>

        <details class="govuk-details govuk-!-margin-top-5">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why we’re asking this question
            </span>
          </summary>

          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-details__text">

              {% if jobsCvSelected %}

              <p class="govuk-body">
                We're asking this so we can better understand where you're at with your situation and give you better advice.
              </p>

              <p class="govuk-body">
                This information does not get collected or reported to anyone.
              </p>

              {% else %}

              <p class="govuk-body">
                We want to get to know your situation so we can give you better advice.
              </p>

              <p class="govuk-body">
                This information does not get collected or reported to anyone.
              </p>

              {% endif %}

            </div>
          </div>
        </details>

      </div>

      <div class="govuk-button-group govuk-!-margin-bottom-7">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}