{% extends "layouts/main.html" %}

{% block pageTitle %}
Helplines - Talk to someone about your mental health {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- PAGE TITLE -->
      <h1 class="govuk-heading-xl">Helplines</h1>

      <p class="govuk-body">
        If you're in crisis, need advice or just someone to talk to, there are people who can help.
      </p>

      <p class="govuk-body">
        You can contact these services for free and in confidence.
      </p>

      <!-- QUICK LINKS -->
      <div id="up"></div>
      <ul class="govuk-list">
        <li> — <a href="#mentalhealth" class="govuk-link">Someone to talk about mental health</a></li>
        <li> — <a href="#sexualabuse" class="govuk-link">Sexual abuse</a></li>
        <li> — <a href="#domesticviolence" class="govuk-link">Domestic violence</a></li>
        <li> — <a href="#selfharm" class="govuk-link">Self-harm</a></li>
        <li> — <a href="#mentalhealthsupport" class="govuk-link">Mental health support</a></li>
        <li> — <a href="#healthwellbeing" class="govuk-link">Health and wellbeing</a></li>
        <li> — <a href="#bullying" class="govuk-link">Bullying and online safety</a></li>
        <li> — <a href="#housingandmoney" class="govuk-link">Housing and money</a></li>
        <li> — <a href="#bereavement" class="govuk-link">Bereavement</a></li>
        <li> — <a href="#familyrelationships" class="govuk-link">Family relationships</a></li>
        <li> — <a href="#sexuality" class="govuk-link">Sexuality and relationships</a></li>
        <li> — <a href="#disability" class="govuk-link">Disability</a></li>
        <li> — <a href="#drugs" class="govuk-link">Substance misuse</a></li>
        <li> — <a href="#youngcareers" class="govuk-link">Young careers</a></li>
        <li> — <a href="#healthwellbeing" class="govuk-link">Health and wellbeing</a></li>
        <li> — <a href="#educationtraining" class="govuk-link">Education, training and careers</a></li>
        <li> — <a href="#asylum" class="govuk-link">Help with asylum</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5 govuk-!-margin-left-0">
      <p class="govuk-body-s">
        <a href="#">Text or email this page</a>
      </p>
    </div>
  </div>



  <!-- CARD: MENTAL HEALTH -->
  <h2 class="govuk-heading-l" id="mentalhealth">Mental health</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Mind</h3>
    <p class="govuk-body">
      Provides advice and support to empower anyone experiencing <br>
      a mental health problem lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Mind is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->





  <!-- CARD: SEXUAL ABUSE -->
  <h2 class="govuk-heading-l" id="sexualabuse">Sexual abuse</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->



  <!-- CARD: DOMESTIC VIOLENCE -->
  <h2 class="govuk-heading-l" id="domesticviolence">Domestic violence</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->



  <!-- CARD: SELF_HARM -->
  <h2 class="govuk-heading-l" id="selfharm">Self-harm</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->




  <!-- CARD: MENTAL HEALTH SUPPORT -->
  <h2 class="govuk-heading-l" id="mentalhealthsupport">Mental health support</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->






  <!-- CARD: HEALTH AND WELLBEING -->
  <h2 class="govuk-heading-l" id="healthwellbeing">Health and wellbeing</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->




  <!-- CARD: BULLYING -->
  <h2 class="govuk-heading-l" id="bullying">Bullying and online safety</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->




  <!-- CARD: HOUSING AND MONEY -->
  <h2 class="govuk-heading-l" id="housingandmoney">Housing and money</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->




  <!-- CARD: BEREAVEMENT -->
  <h2 class="govuk-heading-l" id="bereavement">Bereavement</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->





  <!-- CARD: FAMILY AND RELATIONSHIPS -->
  <h2 class="govuk-heading-l" id="familyrelationships">Family relationships</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->






  <!-- CARD: SEXUALITY AND RELATIONSHIPS -->
  <h2 class="govuk-heading-l" id="sexuality">Sexuality and relationships</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>
    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->





  <!-- CARD: DISABILITY -->
  <h2 class="govuk-heading-l" id="disability">Disability</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>

    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->





  <!-- CARD: SUBSTANCE MISUSE -->
  <h2 class="govuk-heading-l" id="drugs">Substance misuse</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>

    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->






  <!-- CARD: YOUNG CAREERS -->
  <h2 class="govuk-heading-l" id="youngcareers">Young careers</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>

    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->




  <!-- CARD: HEALTH AND WELLBEING -->
  <h2 class="govuk-heading-l" id="healthwellbeing">Health and wellbeing</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>

    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->





  <!-- CARD: EDUCATION -->
  <h2 class="govuk-heading-l" id="education">Education, training and careers</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>

    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->




  <!-- CARD: EDUCATION -->
  <h2 class="govuk-heading-l" id="asylum">Help with asylums</h2>

  <!-- CARD start -->
  <div class="helpline-card">
    <img class="logos-thumb" src="/public/images/logos/mind-logo.jpg" alt="Mind mental health charity">
    <h3 class="govuk-heading-m">Organisation</h3>
    <p class="govuk-body">
      Provides advice and support to lorem ipsum lorem.
    </p>

    <p class="govuk-body">
      Organisation is
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free to call</li>
      <li>open 9am to 6pm, Monday to Friday (except bank holidays) </li>
      <li>helplines operate in England and Wales. </li>
    </ul>

    <p class="govuk-body"><strong>Get help now</strong></p>

    <p class="govuk-body"><strong>Call:<a href="#" class="govuk-link"> 0300 102 1234</a></strong></p>
    <p class="govuk-body"><strong>Online:
        <a href="#" class="govuk-link">www.mind.org.uk</a></strong>
    </p>

    <p class="govuk-body govuk-!-margin-top-6">
      ↑ <a href="#up" class="govuk-link">Back to top</a>
    </p>
  </div>
  <!-- CARD end -->



  <div class="govuk-grid-column-full govuk-!-margin-top-5 govuk-!-margin-bottom-5 govuk-!-margin-left-0 govuk-!-padding-left-0">
    <p class="govuk-body-s">
      <a href="#" class="govuk-link">View a printable version of the whole guide</a>
    </p>
  </div>

  <!-- FEEDBACK GREY START -->
  <div class="govuk-width-container feedback-container grey">



    <div class="feedback-left grey">
      <span class="govuk-body" style="font-size: 19px; line-height: 2;"><strong>Is this page
          useful?</strong></span>
      <button class="govuk-button feedback grey" style="color: #000000;">Yes</button>
      <button class="govuk-button feedback grey" style="color: #000000;">No</button>
    </div>

    <div class="feedback-right grey">
      <a href="#" class="govuk-button feedback grey" style="font-size: 16px; color: #000000; ">
        Help us design this page lorem ipsum
      </a>
    </div>
  </div>
  <!-- FEEDBACK GREY END -->

</div>

{% endblock %}