{% extends "layouts/main.html" %}

{% block pageTitle %}
I want to switch to a different course – {{ serviceName }} – GOV.UK Prototype Kitit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}
{% for item in data.feeling %}
{% if not loop.first %}
{% if loop.last %} and {% else %}, {% endif %}
{% endif %}
{{ item | lower }}
{% endfor %}
{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}


{% block pageScripts %}
<script type="text/javascript">
  var $element = document.querySelector('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{% endblock %}


<!-- Hero section start -->
<div class="govuk-width-container">
  <div
    class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0 !important govuk-!-padding-top-0 govuk-!-padding-left-0">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">I’m not sure what to do after college or sixth form</h1>
    <p class="govuk-body-l">Lorem sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. I am a very
      engaging
      proposition for everyone to scan down further.</p>
    <p class="govuk-body-s govuk-!-margin-bottom-4">
      <a href="#">Text or email this page</a>
    </p>
  </div>
  <div
    class="govuk-grid-column-one-third hero-image govuk-!-margin-bottom-6 govuk-!-padding-top-0 govuk-!-padding-left-0">
    <img src="/public/images/mentor-student-image.png" alt="">

  </div>

</div>
<!-- Hero section end -->

<div class="govuk-width-container">

  <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-left-0">
    <div class="govuk-grid-column-full-width">

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">

            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Who to speak to and when
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.</p>
              <p class="govuk-body"><strong>Lorem ipsum dolor sit amet</strong></p>
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="#">Benefits calculators</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Benefit overpayments</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Benefit fraud</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">More</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Another title Lorem ipsum
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.</p>
              <p class="govuk-body"><strong>Lorem ipsum dolor sit amet</strong></p>
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
              <p class="govuk-body">You can buy:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>apples</li>
                <li>oranges</li>
                <li>pears</li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Another item
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.</p>
              <p class="govuk-body"><strong>Lorem ipsum dolor sit amet</strong></p>
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
              <ol class="govuk-list govuk-list--number">
                <li>Delivery address.</li>
                <li>Payment.</li>
                <li>Confirmation.</li>
              </ol>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Another item
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content">
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.</p>
              <p class="govuk-body"><strong>Lorem ipsum dolor sit amet</strong></p>
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  What you can say
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content">

              <p class="govuk-body"><strong>Lorem ipsum dolor sit amet</strong></p>
              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
              <h3 class="govuk-heading-s blue-quote">A prompt here lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h3>
              <h3 class="govuk-heading-s blue-quote">A prompt here lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h3>
              <h3 class="govuk-heading-s blue-quote">A prompt here lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h3>
              <h3 class="govuk-heading-s blue-quote">A prompt here lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">


        <!-- Mental health support start -->
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4 govuk-!-padding-right-15 mental-health-support">
          <img style="width: 8%; height: auto; padding-bottom: 20px;" src="/public/images/helper.svg" alt="">
          <h3 class="govuk-heading-m">Talk to someone about your mental health</h3>
          <p class="govuk-body">If you need help urgently, you do not have to deal with it by yourself. </p>
          <p class="govuk-body">There are people
            who can help you.</p>
          <p class="govuk-body">
            <a class="govuk-link" href="#">View helplines</a>
          </p>
        </div>
        <!-- Mental health support end -->

        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-s govuk-!-margin-top-6 govuk-!-margin-bottom-0">
            <a href="#">View a printable version of the whole guide</a>
          </p>
        </div>



      </div>
      <!-- Feedback grey -->
      <div class="govuk-width-container feedback-container grey">

        <div class="feedback-left grey">
          <span class="govuk-body" style="font-size: 19px; margin-right: 20px; line-height: 2;"><strong>Is this page
              useful?</strong></span>
          <button class="govuk-button feedback grey" style="color: #000000;">Yes</button>
          <button class="govuk-button feedback grey" style="color: #000000;">No</button>
        </div>

        <div class="feedback-right grey">
          <a href="#" class="govuk-button feedback grey" style="font-size: 16px; color: #000000; ">
            Help us design this page lorem ipsum
          </a>
        </div>
      </div>

    </div>
  </div>
</div>




{% endblock %}