{% extends "layouts/main.html" %}

{% block pageTitle %}
I want to switch to a different course – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}{% for item in data.feeling %}{% if not loop.first %}{% if loop.last %} and {% else %}, {% endif
%}{% endif %}{{ item | lower }}{% endfor %}{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}


{% block pageScripts %}
<script type="text/javascript">
  var $element = document.querySelector('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{% endblock %}

<!-- Hero image -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">I’m not sure what to do after college or sixth form</h1>
    <p>Lorem sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. I am a very engaging proposition for everyone to scan down further :) </p>
    <!-- Text or email links top -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-s">
          <a href="#">Text or email this page</a>
        </p>
      </div>
    </div>
    <div class="hero-image">
      <img src="/public/images/mentor-student-image.png" alt="">
    </div>
  </div>
</div>



<div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-left-4">
    <div class="govuk-grid-column-full-width">
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Writing well for the web
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">This is the content for Writing well for the web.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Writing well for specialists
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">This is the content for Writing well for specialists.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Know your audience
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <p class="govuk-body">This is the content for Know your audience.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                How people read
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">This is the content for How people read.</p>
          </div>
        </div>
      </div>


      <!-- Footer links -->
      <div class="govuk-!-margin-top-6">
        <p class="govuk-body">
          <strong>A title lorem ipsum</strong><br>
          Some text? lorem ipsum
        </p>

        <p class="govuk-body-s">
          <a href="#" style="margin-bottom: 20px">View a printable version of the whole guide</a><br>
          <a href="#">Email this guide</a>
        </p>
      </div>

    </div>
  </div>


    <!-- Feedback grey -->
  <div class="govuk-width-container feedback-container grey">

    <div class="feedback-left grey">
      <span class="govuk-body" style="font-size: 19px; margin-right: 20px; line-height: 2;"><strong>Is this page
          useful?</strong></span>
      <button class="govuk-button feedback grey" style="color: #000000;">Yes</button>
      <button class="govuk-button feedback grey" style="color: #000000;">No</button>
    </div>

    <div class="feedback-right grey">
      <a href="#" class="govuk-button feedback grey" style="font-size: 16px; color: #000000; ">
        Help us design this page lorem ipsum
      </a>
    </div>
  </div>


  <!-- Feedback blue -->
  <div class="govuk-width-container feedback-container">

    <div class="feedback-left">
      <span class="govuk-body" style="font-size: 16px; margin-right: 20px; line-height: 2;"><strong>Is this page
          useful?</strong></span>
      <button class="govuk-button feedback" style="font-size: 16px; color: #000000;">Yes</button>
      <button class="govuk-button feedback" style="font-size: 16px; color: #000000;">No</button>
    </div>

    <div class="feedback-right">
      <a href="#" class="govuk-button feedback" style="font-size: 16px; color: #000000; ">
        Report a problem with this page
      </a>
    </div>
  </div>


</div>
</div>
</div>

{% endblock %}