{% extends "layouts/main.html" %}

{% block pageTitle %}
What you can do next – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}
{% for item in data.feeling %}
{% if not loop.first %}
{% if loop.last %} and {% else %}, {% endif %}
{% endif %}
{{ item | lower }}
{% endfor %}
{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}

<!-- Hero section start -->
<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0 !important govuk-!-padding-top-0 govuk-!-padding-left-0">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What you can do next</h1>
    <p class="govuk-body">Thanks for sharing where you’re at. Take a look through who can help, what you might want to do next and get
      suggestions of what to say.</p>
  </div>
  <!--<div class="govuk-grid-column-one-third hero-image govuk-!-margin-bottom-6 govuk-!-padding-top-0 govuk-!-padding-left-0">
    <img src="/public/images/mentor-student-image.png" alt="">
  </div> -->
</div>
<!-- Hero section end -->

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">How to use these guides</h2>
      <p class="govuk-body">If you’re speaking to someone in person, you might find it useful to take the guide with you so you can refer
        to it.</p>
      <p class="govuk-body">You can screenshot, text or email each guide to yourself.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-6">
      <a href="#">Text or email this page</a>
    </p>
    </div>
    

    <div class="govuk-grid-column-full">
      <div class="dfe-grid-container">

        {% set cards = [
        {
        title: "I want to switch to a different course",
        href: "/switch-course",
        img: "/public/images/want-to-switch-course.png"
        },
        {
        title: "I want to pass my GCSE maths resit",
        href: "/pass-maths-resit",
        img: "/public/images/pass-gcse-maths.png"
        },
        {
        title: "I’m not sure I’ll use what I’m learning right now",
        href: "#",
        img: "/public/images/use-what-learn.png"
        },
        {
        title: "My attendance is not great but I’m too behind to fix it",
        href: "#",
        img: "/public/images/attendancepng.png"
        },
        {
        title: "I do not know what to put on my CV",
        href: "#",
        img: "/public/images/CV.png"
        },
        {
        title: "I’m applying for jobs but feel like I’m getting nowhere",
        href: "#",
        img: "/public/images/apply-for-jobs.png"
        }
        ] %}

        {% for card in cards %}
        <div class="dfe-card">
          <img src="{{ card.img }}" alt="">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a href="{{ card.href }}" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                {{ card.title }}
              </a>
            </h3>
            <p class="govuk-body">Give me some example content please, and thank you.</p>
            <p class="govuk-body-s">even more content if needed</p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4 govuk-!-padding-right-15 mental-health-support">
      <img style="width: 15%; height: auto; padding-bottom: 20px;" src="/public/images/helper.svg" alt="">
      <h3 class="govuk-heading-m">Talk to someone about your mental health</h3>
      <p class="govuk-body">If you need help urgently, you do not have to deal with it by yourself. There are people who can help you.</p>
      <a class="govuk-link" href="#">View helplines</a>
    </div>

  </div>
</div>

  <!-- Feedback grey -->
  <div class="govuk-width-container feedback-container grey">

    <div class="feedback-left grey">
      <span class="govuk-body" style="font-size: 19px; margin-right: 20px; line-height: 2;"><strong>Is this page
          useful?</strong></span>
      <button class="govuk-button feedback grey" style="color: #000000;">Yes</button>
      <button class="govuk-button feedback grey" style="color: #000000;">No</button>
    </div>

    <div class="feedback-right grey">
      <a href="#" class="govuk-button feedback grey" style="font-size: 16px; color: #000000; ">
        Help us design this page lorem ipsum
      </a>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script>
  var $element = document.querySelector('#step-by-step-navigation')
  if ($element) {
    new GOVUK.Modules.AppStepNav($element).init()
  }
</script>
{% endblock %}