{% extends "layouts/main.html" %}

{% block pageTitle %}
What are you finding difficult? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}
{% for item in data.feeling %}
{% if not loop.first %}
{% if loop.last %} and {% else %}, {% endif %}
{% endif %}
{{ item | lower }}
{% endfor %}
{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/what-help-dynamic2" method="post">


      <div class="govuk-form-group">
        <!--<span class="govuk-caption-l">Question 1 of 2</span>-->
        <fieldset class="govuk-fieldset" aria-describedby="routes-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What are you finding difficult?
            </h1>
          </legend>
          <p class="govuk-body">We know that 61% or young people aged 15 to 18 <br>are worried about looking for work.</p>
          <p class="govuk-body">It’s okay to be honest if you’re having a hard time.</p>

          <div id="routes-hint" class="govuk-hint govuk-!-margin-bottom-6">
            Select all that apply
          </div>

          <!-- CHECKBOXES START-->
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Applying for jobs or apprenticeships 
              </legend>

              <div class="govuk-!-margin-bottom-6">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-2" name="SelectedRouteIds" type="checkbox" value="I do not hear back from applications">
                  <label class="govuk-label govuk-checkboxes__label" for="route-2">
                   I do not hear back from applications
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">For example, lorem ipsum</div>-->
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="I never get feedback so do not know what to improve">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                   I never get feedback so do not know what to improve
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div>-->
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="I’m trying to get my first job">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                    I’m trying to get my first job
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>


                <div class="govuk-checkboxes__item ">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="I’ve done volunteering but cannot seem to get a paid job">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                    I’ve done volunteering but cannot seem to get a paid job
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>


                 <div class="govuk-checkboxes__item ">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="I cannot find an apprenticeship where I live">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                    I cannot find an apprenticeship where I live
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>

              </div>
            </fieldset>

            <!-- CV -->
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               Help with my CV or get work experience
              </legend>

              <div class="govuk-!-margin-bottom-6">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-2" name="SelectedRouteIds" type="checkbox" value="Create a CV or make my CV better">
                  <label class="govuk-label govuk-checkboxes__label" for="route-2">
                    Create a CV or make my CV better
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="I need to get some work experience">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                   I need to get some work experience
                  </label>
                  <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>

              </div>
            </fieldset>

          </div>

          <div class="govuk-button-group ">
            {{ govukButton({ text: "Continue" }) }}
          </div>
          <!-- CHECKBOXES END-->
        </fieldset>
      </div>


    </form>

  </div>
</div>

{% endblock %}