{% extends "layouts/main.html" %}

{% block pageTitle %}
What are you finding difficult? – {{ serviceName }}
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{# ---------- NORMALISE DATA ---------- #}
{% if data.route %}
{% if data.route[0] %}
{% set routes = data.route %}
{% else %}
{% set routes = [data.route] %}
{% endif %}
{% else %}
{% set routes = [] %}
{% endif %}

{# ---------- CHECK IF ALL SELECTED ---------- #}
{% set allSelected =
(routes.indexOf("I do not like my course and I’m not sure what to do when I finish") > -1)
and (routes.indexOf("I need to pass my GCSE maths or English resit") > -1)
and (routes.indexOf("Applying for jobs or get an apprenticeship") > -1)
and (routes.indexOf("Help with my CV or get work experience") > -1)
%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/what-help-dynamic3" method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-4">
            What are you finding difficult?
          </h1>
        </legend>

        {# ====================== ALL SELECTED ====================== #}
        {% if allSelected %}

        <p class="govuk-body">We know 55% of young people have stopped themselves asking for help. <br>It’s okay to be
          honest if you’re having a hard time.</p>
        <p class="govuk-body">If you’re not sure, you can choose what feels closest for now.</p>

        <div id="routes-hint" class="govuk-hint govuk-!-margin-bottom-6">
          Select all that apply
        </div>

        <!-- CHECKBOXES START-->
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">

          <!-- I’m unsure about my current course or what to do when I finish -->

          <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              I’m unsure about my current course <br>or what to do when I finish
            </legend>

            <div class="govuk-!-margin-bottom-6">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="routecollege-sixthform" name="SelectedRouteIds"
                  type="checkbox" value="I’m not sure what to do after college or sixth form">
                <label class="govuk-label govuk-checkboxes__label" for="routecollege-sixthform">
                  I’m not sure what to do after college or sixth form
                </label>
                <div class="govuk-hint govuk-checkboxes__hint">For example, your plans might have changed or you
                  cannot decide.</div>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="routecollege-sixthform-differentcourse"
                  name="SelectedRouteIds" type="checkbox" value="I want to switch to a different course">
                <label class="govuk-label govuk-checkboxes__label" for="routecollege-sixthform-differentcourse">
                  I want to switch to a different course
                </label>
                <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div>-->
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="routecollege-sixthform-goal" name="SelectedRouteIds"
                  type="checkbox" value="I want to know how my course can help me get to my goal">
                <label class="govuk-label govuk-checkboxes__label" for="routecollege-sixthform-goal">
                  I want to know how my course can help me get to my goal
                </label>
                <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>


              <div class="govuk-checkboxes__item ">
                <input class="govuk-checkboxes__input" id="routecollege-sixthform-passcourse" name="SelectedRouteIds"
                  type="checkbox" value="I’m struggling to pass my course">
                <label class="govuk-label govuk-checkboxes__label" for="routecollege-sixthform-passcourse">
                  I’m struggling to pass my course
                </label>
                <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>

            </div>
          </fieldset>

          <!-- CV -->
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              I need to pass my GCSE maths or English resit
            </legend>

            <div class="govuk-!-margin-bottom-6">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="routecollege-sixthform-maths" name="SelectedRouteIds"
                  type="checkbox" value="Maths">
                <label class="govuk-label govuk-checkboxes__label" for="routecollege-sixthform-maths">
                  Maths
                </label>
                <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="routecollege-sixthform-english" name="SelectedRouteIds"
                  type="checkbox" value="English">
                <label class="govuk-label govuk-checkboxes__label" for="english">
                  English
                </label>
                <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>

            </div>
          </fieldset>



          <!-- Applying jobs or apprenticeships -->
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Applying for jobs or apprenticeships
            </legend>

            <div class="govuk-!-margin-bottom-6">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="route-applications" name="SelectedRouteIds" type="checkbox"
                  value=" I do not hear back from applications">
                <label class="govuk-label govuk-checkboxes__label" for="route-applications">
                  I do not hear back from applications
                </label>
                <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="route-otherimprove" name="SelectedRouteIds" type="checkbox"
                  value="I never get feedback so do not know what to improve">
                <label class="govuk-label govuk-checkboxes__label" for="route-otherimprove">
                  I never get feedback so do not know what to improve
                </label>
                <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>


              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="route-firstjob" name="SelectedRouteIds" type="checkbox"
                  value="I’m trying to get my first job">
                <label class="govuk-label govuk-checkboxes__label" for="firstjob">
                  I’m trying to get my first job
                </label>
                <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>


              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="route-paidjob" name="SelectedRouteIds" type="checkbox"
                  value="I’ve done volunteering but cannot seem to get a paid job">
                <label class="govuk-label govuk-checkboxes__label" for="paidjob">
                  I’ve done volunteering but cannot seem to get a paid job
                </label>
                <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>



              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="route-apprenticeship" name="SelectedRouteIds" type="checkbox"
                  value="I cannot find an apprenticeship where I live">
                <label class="govuk-label govuk-checkboxes__label" for="apprenticeship">
                  I cannot find an apprenticeship where I live
                </label>
                <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>

            </div>
          </fieldset>





          <!-- CV -->
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Help with my CV or get work experience
            </legend>

            <div class="govuk-!-margin-bottom-6">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="route-cv" name="SelectedRouteIds" type="checkbox" value="Create a CV or make my CV better">
                <label class="govuk-label govuk-checkboxes__label" for="route-cv">
                  Create a CV or make my CV better
                </label>
                <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="route-workexperience" name="SelectedRouteIds" type="checkbox"
                  value="I need to get some work experience">
                <label class="govuk-label govuk-checkboxes__label" for="workexperience">
                  I need to get some work experience
                </label>
                <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
              </div>


            </div>
          </fieldset>




        </div>

        {% else %}

        {# ====================== INDIVIDUAL SECTIONS ====================== #}

        <div class="govuk-checkboxes">

          {# -------- SECTION 1 -------- #}
          {% if routes.indexOf("I do not like my course and I’m not sure what to do when I finish") > -1 %}

          <p class="govuk-body">We know 3 in 10 young people have avoided going to college <br>to stop feeling anxious.
          </p>
          <p class="govuk-body">It's okay to be honest if you're having a hard time.</p>

          <div id="routes-hint" class="govuk-hint govuk-!-margin-bottom-6">
            Select all that apply
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <!-- Unsure about course -->
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                I’m unsure about my current course or<br>what to do when I finish
              </legend>

              <div class="govuk-!-margin-bottom-6">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="routecollege-sixthform" name="SelectedRouteIds"
                    type="checkbox" value="I’m not sure what to do after college or sixth form">
                  <label class="govuk-label govuk-checkboxes__label" for="routecollege-sixthform">
                    I’m not sure what to do after college or sixth form
                  </label>
                  <div class="govuk-hint govuk-checkboxes__hint">
                    For example, your plans might have changed or you cannot decide.
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="routecollege-othercourse" name="SelectedRouteIds"
                    type="checkbox" value="I want to switch to a different course">
                  <label class="govuk-label govuk-checkboxes__label" for="routecollege-othercourse">
                    I want to switch to a different course
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="routecollege-mygoal" name="SelectedRouteIds"
                    type="checkbox" value="I want to know how my course can help me get to my goal">
                  <label class="govuk-label govuk-checkboxes__label" for="routecollege-mygoal">
                    I want to know how my course can help me get to my goal
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="routecollege-passcourse" name="SelectedRouteIds"
                    type="checkbox" value="I’m struggling to pass my course">
                  <label class="govuk-label govuk-checkboxes__label" for="routecollege-passcourse">
                    I’m struggling to pass my course
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          {% endif %}


          {# -------- SECTION 2 -------- #}
          {% if routes.indexOf("I need to pass my GCSE maths or English resit") > -1 %}


          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">


              <!-- GCSE -->
              <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  I need to pass my GCSE maths or English resit
                </legend>

                <div class="govuk-!-margin-bottom-6">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-maths" name="SelectedRouteIds" type="checkbox"
                      value="Maths">
                    <label class="govuk-label govuk-checkboxes__label" for="route-maths">
                      Maths
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-english" name="SelectedRouteIds" type="checkbox"
                      value="English">
                    <label class="govuk-label govuk-checkboxes__label" for="route-english">
                      English
                    </label>
                  </div>

                </div>
              </fieldset>
            </div>

            {% endif %}


            {# -------- SECTION 3 -------- #}
            {% if routes.indexOf("Applying for jobs or get an apprenticeship") > -1 %}


            <!-- CHECKBOXES START-->
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Applying for jobs or apprenticeships
                </legend>

                <div class="govuk-!-margin-bottom-6">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-2" name="SelectedRouteIds" type="checkbox"
                      value="I do not hear back from applications">
                    <label class="govuk-label govuk-checkboxes__label" for="route-2">
                      I do not hear back from applications
                    </label>
                    <!-- <div class="govuk-hint govuk-checkboxes__hint">For example, lorem ipsum</div>-->
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                      value="I never get feedback so do not know what to improve">
                    <label class="govuk-label govuk-checkboxes__label" for="route-12">
                      I never get feedback so do not know what to improve
                    </label>
                    <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div>-->
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                      value="I’m trying to get my first job">
                    <label class="govuk-label govuk-checkboxes__label" for="route-12">
                      I’m trying to get my first job
                    </label>
                    <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                  </div>


                  <div class="govuk-checkboxes__item ">
                    <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                      value="I’ve done volunteering but cannot seem to get a paid job">
                    <label class="govuk-label govuk-checkboxes__label" for="route-12">
                      I’ve done volunteering but cannot seem to get a paid job
                    </label>
                    <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                  </div>


                  <div class="govuk-checkboxes__item ">
                    <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                      value="I cannot find an apprenticeship where I live">
                    <label class="govuk-label govuk-checkboxes__label" for="route-12">
                      I cannot find an apprenticeship where I live
                    </label>
                    <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                  </div>

                </div>
              </fieldset>
            </div>

            {% endif %}


            {# -------- SECTION 4 -------- #}
            {% if routes.indexOf("Help with my CV or get work experience") > -1 %}

       

            <!-- CHECKBOXES START-->
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              <!-- CV -->
              <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Help with my CV or get work experience
                </legend>

                <div class="govuk-!-margin-bottom-6">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-2" name="SelectedRouteIds" type="checkbox"
                      value="Create a CV or make my CV better">
                    <label class="govuk-label govuk-checkboxes__label" for="route-2">
                      Create a CV or make my CV better
                    </label>
                    <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                      value="I need to get some work experience">
                    <label class="govuk-label govuk-checkboxes__label" for="route-12">
                      I need to get some work experience
                    </label>
                    <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                  </div>

                </div>
              </fieldset>
            </div>

            {% endif %}

          </div>

          {% endif %}

          <div class="govuk-button-group govuk-!-margin-bottom-7">
            {{ govukButton({ text: "Continue" }) }}
          </div>

      </fieldset>

    </form>

  </div>
</div>

{% endblock %}