{% extends "layouts/main.html" %}

{% block pageTitle %}
What do you need to do – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}
{% for item in data.feeling %}
{% if not loop.first %}
{% if loop.last %} and {% else %}, {% endif %}
{% endif %}
{{ item | lower }}
{% endfor %}
{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/where-are-you-at-with-education" method="post">

      <div class="govuk-form-group">
        <span class="govuk-caption-l">Question 1 of 2</span>

        <fieldset class="govuk-fieldset" aria-describedby="interests-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
             What are you finding difficult?
            </h1>
          </legend>
          <p class="govuk-body">We know 3 in 10 young people have avoided going to college to stop feeling anxious. </p>
          <p class="govuk-body">It's okay to be honest if you're having a hard time.</p>

          <div id="interests-hint" class="govuk-hint govuk-!-margin-bottom-6">
            Select all that apply
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <!-- Unsure about course -->
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               I’m unsure about my current course or what to do when I finish
              </legend>

              <div class="govuk-!-margin-bottom-6">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-2" name="SelectedRouteIds" type="checkbox" value="2">
                  <label class="govuk-label govuk-checkboxes__label" for="route-2">
                   I’m not sure what to do after college or sixth form
                  </label>
                  <div class="govuk-hint govuk-checkboxes__hint">For example, your plans might have changed or you cannot decide.</div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="12">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                   I want to switch to a different course
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div>-->
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="12">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                    I want to know how my course can help me get to my goal
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="12">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                    I’m struggling to pass my course
                  </label>
                 <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>

              </div>
            </fieldset>

            <!-- GCSE -->
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                I need to pass my GCSE maths or English resit
              </legend>

              <div class="govuk-!-margin-bottom-6">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-2" name="SelectedRouteIds" type="checkbox" value="2">
                  <label class="govuk-label govuk-checkboxes__label" for="route-2">
                    Maths
                  </label>
                  <!-- <div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-12" name="SelectedRouteIds" type="checkbox"
                    value="12">
                  <label class="govuk-label govuk-checkboxes__label" for="route-12">
                    English
                  </label>
                  <!--<div class="govuk-hint govuk-checkboxes__hint">e.g. something like example</div> -->
                </div>

              </div>
            </fieldset>


          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}
        <a class="govuk-link" href="#">Cancel</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}
