{% extends "layouts/main.html" %}

{% block pageTitle %}
What do you need help with – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
{% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
{% set feelingText %}{% for item in data.feeling %}{% if not loop.first %}{% if loop.last %} and {% else %}, {% endif
%}{% endif %}{{ item | lower }}{% endfor %}{% endset %}
{% else %}
{% set feelingText = "stuck and anxious" %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What do you need help with?
    </h1>
    <p class="govuk-body"> It's okay if you're not sure or feeling stuck with lots of things. <br>Lots of young people feel
      that way.</p>
    <p class="govuk-body">You can choose what feels closest for now.</p>

    <form class="form" action="/needsDifficultyPage" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="routes-hint">
          <div id="routes-hint" class="govuk-hint">
            Select all that apply
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="route-1" name="route" type="checkbox"
                value="route1">
              <label class="govuk-label govuk-checkboxes__label" for="route-1">
                I do not like my course and I’m not sure what to do when I finish
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="route-2" name="route" type="checkbox"
                value="route2">
              <label class="govuk-label govuk-checkboxes__label" for="route-2">
                I need to pass my GCSE maths or English resit
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="route-3" name="route" type="checkbox"
                value="route3">
              <label class="govuk-label govuk-checkboxes__label" for="route-3">
                Applying for jobs or get an apprenticeship
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="route-4" name="route" type="checkbox"
                value="route4">
              <label class="govuk-label govuk-checkboxes__label" for="route-4">
                Help with my CV or get work experience
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group govuk-!-margin-bottom-7">
        {{ govukButton({
        text: "Continue"
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}