{% extends "layouts/main.html" %}

{% block pageTitle %}
Where are you at with education – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="./check-your-answers.html" method="get">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">


          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Where are you at with education?
            </h1>
          </legend>

          <p class="govuk-body govuk-!-margin-bottom-6">
            You might have already started or be about to start.
          </p>

          <!-- RADIO BUTTONS START -->
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="college-status" name="ducationStatus" type="radio" value="College">
              <label class="govuk-label govuk-radios__label" for="college-status">
                College
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sixth-form-college" name="educationStatus" type="radio"
                value="Sixth form college ">
              <label class="govuk-label govuk-radios__label" for="sixth-form-college">
                Sixth form college
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sixth-form-attached" name="educationStatus" type="radio"
                value="Sixth form (attached to a secondary school)">
              <label class="govuk-label govuk-radios__label" for="sixth-form-attached">
                Sixth form (attached to a secondary school)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="apprenticeship" name="educationStatus" type="radio"
                value="Apprenticeship">
              <label class="govuk-label govuk-radios__label" for="apprenticeship">
                Apprenticeship
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="not-education" name="educationStatus" type="radio"
                value="I’m not in education">
              <label class="govuk-label govuk-radios__label" for="not-education">
                I’m not in education
              </label>
            </div>
          </div>
          <!-- RADIO BUTTONS END -->

        </fieldset>

        <!-- DETAILS START -->
        <details class="govuk-details govuk-!-margin-top-5">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why we’re asking this question
            </span>
          </summary>
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-details__text">
              <p class="govuk-body">We want to get to know your situation so we can give you better advice. This
                information does not get collected or reported to anyone.</p>
            </div>
          </div>
        </details>
        <!-- DETAILS END -->
      </div>




      <div class="govuk-button-group govuk-!-margin-bottom-7">
        {{ govukButton({ text: "Continue" }) }}
      </div>

    </form>
  </div>
</div>

{% endblock %}