{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ serviceName }}</h1>

    <p class="govuk-body-l">Prototype index page</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Prototype flows</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Round 4 MVP</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/landing-page.html">Go to round 4
              MVP</a>
          </td>
        </tr>
      </tbody>
    </table>


    <h2 class="govuk-heading-m">Error messages</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Name field error page</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp-error-messages/whats-your-first-name.html">What's your first name?</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Checkbox error page</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp-error-messages/what-help.html">What help</a>
          </td>
        </tr>
      </tbody>
    </table>


    <h2 class="govuk-heading-m">Individual pages</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">General</th>
          <th class="govuk-table__header" scope="col">Link</th>
        </tr>
      </thead>


      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Checkboxes pages</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/what-help.html">Checkbox-driven mini-journey</a>
          </td>
        </tr>



      </tbody>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Mental health</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/mental-health-page.html">mental health page</a>
          </td>
        </tr>
      </tbody>
    </table>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Guidance Pages</th>
          <th class="govuk-table__header" scope="col">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Guidance chapter cards page</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/What-you-can-do-next.html">Navigate to the chapter guidance cards
              page</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Guidance landing pages </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/guides/GCSE-maths-resit.html">I want to pass my GCSE maths
              resit</a>
          </td>
        </tr>
      </tbody>
    </table>

    <!--<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

    <h2 class="govuk-heading-m">Older version</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Description</th>
          <th class="govuk-table__header" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Full user journey</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/Find-out-who-can-help-you-as-a-young-person">Go to old/previous journey</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}