{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ serviceName }}</h1>

    <p class="govuk-body-l">Prototype index page</p>

    <h2 class="govuk-heading-m">Prototypes</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/landing-page.html">Round 4 MVP prototype</a>
          </td>
        </tr>
             <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./exam-results/landing-page.html">Exam results prototype</a>
          </td>
        </tr>
      </tbody>
    </table>


    <h2 class="govuk-heading-m">Individual pages</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        </tr>
      </thead>


      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/what-help.html">Checkbox-driven mini-journey</a>
          </td>
        </tr>
     



      </tbody>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/mental-health-page.html">Mental health page</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/what-you-can-do-next.html">Chapter guidance cards
              page</a>
          </td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./round4-mvp/guides/GCSE-maths-resit.html">Guidance page example</a>
          </td>
        </tr>
      </tbody>
    </table>




    <!--<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

    <h2 class="govuk-heading-m">Older version</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="./older-prototype/Find-out-who-can-help-you-as-a-young-person.html">Go to old/previous journey</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}