{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "layouts/ministry-education.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% block bodyStart %}

{% if (not (data.analyticsConsent) and not req.originalUrl.endsWith("/cookies")) %}

{% set html %}
<p class="govuk-body">We use some essential cookies to make this service work.</p>
<p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{{
 govukCookieBanner({
  ariaLabel: "Cookies on " ~ serviceName,
  messages: [
    {
      headingText: "Cookies on " ~ serviceName,
      html: html,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button",
          href: '/exam-results/accept-cookies'
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          href: "/exam-results/reject-cookies"
        },
        {
          text: "View cookies",
           href: "/exam-results/cookies"
        }
      ]
    }
  ]
})
}}

{% endif %}


{{ super() }}
{% endblock %}


{% block head %}
{{ super() }}

<!-- ANALYTICS -->
    {% if data.analyticsConsent == 'yes' %}
<!-- Microsoft Clarity -->
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "xeo8ahn992");
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QCWWDZFQXG"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-QCWWDZFQXG');
</script>
   {% endif %}

{% endblock %}





{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Alpha"
},
html: 'This is a new service – your <a href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_e8ui8jFzOcUXsgK" class="govuk-link" rel="noreferrer noopener" target="_blank">feedback</a> will help us to improve it.'
}) }}
{% block pageBefore %}
{% endblock %}
{% endblock %}


{#

{% block govukServiceNavigation %}
{{
 govukServiceNavigation({
    serviceName: serviceName,
    navigation: [
      {
        href: "#",
        text: "Navigation item 1"
      },
      {
        href: "#",
        text: "Navigation item 2",
        active: true
      },
      {
        href: "#",
        text: "Navigation item 3"
      }
    ]
  })
}}
{% endblock %}
 #}

